@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
  }

  .dark body {
    @apply bg-gray-900 text-white;
  }
}

@layer utilities {
  .gradient-primary {
    @apply bg-gradient-to-l from-primary-700 via-primary-800 to-brand-dark;
  }

  .gradient-text {
    @apply bg-gradient-to-l from-primary-600 to-accent-500 bg-clip-text text-transparent;
  }
}

